<!DOCTYPE html>
<html>
<head>
    <title>Modify Authors</title>
    <link rel="stylesheet" href="/css/tableStyle.css" type="text/css">
</head>

<body>
    <h2>{{title}}</h2>
    <p id="navBar">
    <p id="navBar">
        <button class="submitButton"><a id="home" href ="http://johnhash.me/authorized/admin.html">DB HOME</a></button> 
        <button class="submitButton"><a id="modify" href="http://johnhash.me/authorized/modify.html">BACK TO TABLES</a></button>
    </p>
    <br>
    <form id="addSpeciesPeople" class="addForm">
        <fieldset class="addFS">
            <legend class="addLegend">Add New Author Assignment</legend>
                <div id="addInputArea">
                    <label> Species:
                        <select id="speciesDropdown" class="input_box">
                        </select>						
                    </label>
                    <label> Person:
                        <select id="personDropdown" class="input_box">
                        </select>						
                    </label>
                    </br>
                </div>
                <div class="addButtonArea">
                    <p id="buttonDivider" style="display:inline">  </p>
                    <input type ="submit" name="enterAuthor" id="enterAuthor" class="submitButton" value="ASSIGN AUTHOR">
                    <p id="buttonDivider" style="display:inline">  </p>
                </div>
        </fieldset> 
    </form>
    <table id="table" data-search="true" data-show-columns="true" data-show-multi-sort="true" data-pagination="true" data-page-size="100" class="table">
        <thead>
            <th data-sortable="true">SID</th>
            <th data-sortable="true">Family</th>
            <th data-sortable="true">Genus</th>
            <th data-sortable="true">Species</th>
            <th data-sortable="true">Year</th>
            <th data-sortable="true">PID</th>
            <th data-sortable="true">First Name</th>
            <th data-sortable="true">Last Name</th>
            <th>Modify</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{#each people}}
            <tr>
                <td>{{this.species_id}}</td>
                <td>{{this.family}}</td>
                <td>{{this.genus}}</td>
                <td>{{this.specific_epithet}}</td>
                <td>{{this.year}}</td>
                <td>{{this.people_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td><button class="submitButton"><a href="http://johnhash.me/flies/updateAuthor?people_id={{this.people_id}}&species_id={{this.species_id}}" class="updateRow" id="updateRow{{this.people_id}}+{{this.species_id}}">UPDATE</td>
                <td><button class="submitButton"><a href="http://johnhash.me/flies/deleteAuthorSubmit?people_id={{this.people_id}}&species_id={{this.species_id}}" onclick="return confirm('Delete {{this.last_name}} - {{this.specific_epithet}} Relationship?')" class="deleteRow" id="deleteRow{{this.people_id}}+{{this.species_id}}">DELETE</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="/js/addAuthorScript.js"></script>
</body>
</html>