<!DOCTYPE html>
<html>
<head>
    <title>Modify Authors</title>
    <link rel="stylesheet" href="/css/tableStyle.css" type="text/css">
</head>
<body>
    <h2>Modify Author</h2>
    <p id="navBar">
        <button class="submitButton"><a id="home" href ="http://johnhash.me/authorized/admin.html">DB HOME</a></button> 
        <button class="submitButton"><a id="modify" href="http://johnhash.me/authorized/modify.html">BACK TO TABLES</a></button>
    </p>
    <br>
    <p id="navBar">
        | 
        <button class="submitButton"><a href="http://johnhash.me/flies/modAuthor" id="modAuthors">BACK</a></button>
         | 
    </p>
    <br>
    <form id="modAuthorForm" action="http://johnhash.me/flies/updateAuthorSubmit">
        <fieldset>
            {{#each people}}
            <legend>Modify the | [{{this.species_id}}] {{this.specific_epithet}} - [{{this.people_id}}] {{this.last_name}} | Relationship</legend>
                <label class="input_box">| Species:
                    <select type="number" name="species_id" id="speciesDropdown">
                        <option value={{this.species_id}}>{{this.genus}} {{this.specific_epithet}}</option>
                    </select>
                </label>
                <br>
                <label class="input_box">| Person:
                    <select type="number" name="people_id" id="personDropdown" >
                        <option value={{this.people_id}}>{{this.first_name}} {{this.last_name}}</option>
                    </select>
                </label>
                <br>
                <input type="hidden" name="old_species_id" value={{this.species_id}}>
                <input type="hidden" name="old_people_id" value={{this.people_id}}>
                <input type ="submit" name="enter" id="enter" class="submitButton"> 
            {{/each}} 
            <script src="/js/addAuthorScript.js"></script>
        </fieldset> 
    </form>
</body>